In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("data/tableConvert_from_weforum.csv")
#Source: https://govdata360.worldbank.org/indicators/h02d576c2

df2 = pd.read_csv("data/mean-years-of-schooling-long-run.csv")
# Source:https://ourworldindata.org/grapher/mean-years-of-schooling-long-run

In [3]:
df1.head()

     Country   2017   2018   2019
0     Brazil   7.45   7.45   7.58
1    Albania  10.20  10.20  10.20
2    Algeria   8.70   8.70   8.70
3     Angola      5      5   3.99
4  Argentina  10.10  10.10  11.42

In [4]:

df1.loc[df1['2017'] == 'No data', '2017'] = None
df1.loc[df1['2018'] == 'No data', '2018'] = None
df1.loc[df1['2019'] == 'No data', '2019'] = None

In [5]:
df2.rename(columns={'Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))': 'AVG'}, inplace=True)
df2.head()

        Entity Code  Year   AVG
0  Afghanistan  AFG  1870  0.01
1  Afghanistan  AFG  1875  0.01
2  Afghanistan  AFG  1880  0.01
3  Afghanistan  AFG  1885  0.01
4  Afghanistan  AFG  1890  0.01

In [6]:
df2.count()

Entity    7763
Code      7763
Year      7763
AVG       7763
dtype: int64

In [7]:
# Nama nama negara yang tidak sesuai dengan kedua tabel
for index, row in df1.iterrows():
    if df2[df2['Entity'] == row['Country']].empty:
        print(row['Country'])

Brunei Darussalam
Cabo Verde
Czech Republic
Egypt, Arab Rep.
Gambia, The
Iran, Islamic Rep.
Korea, Rep.
Kyrgyz Republic
Lao PDR
Macedonia, FYR
Russian Federation
Slovak Republic
Taiwan, China
Turkiye
Venezuela, RB
Yemen, Rep.

In [8]:
df1.loc[df1['Country'] == 'Brunei Darussalam', 'Country'] = 'Brunei'
df1.loc[df1['Country'] == 'Cabo Verde', 'Country'] = 'Cape Verde'
df1.loc[df1['Country'] == 'Czech Republic', 'Country'] = 'Czechia'
df1.loc[df1['Country'] == 'Egypt, Arab Rep.', 'Country'] = 'Egypt'
df1.loc[df1['Country'] == 'Gambia, The', 'Country'] = 'Gambia'
df1.loc[df1['Country'] == 'Iran, Islamic Rep.', 'Country'] = 'Iran'
df1.loc[df1['Country'] == 'Korea, Rep.', 'Country'] = 'South Korea'
df1.loc[df1['Country'] == 'Kyrgyz Republic', 'Country'] = 'Kyrgyzstan'
df1.loc[df1['Country'] == 'Lao PDR', 'Country'] = 'Laos'
df1.loc[df1['Country'] == 'Macedonia, FYR', 'Country'] = 'North Macedonia'
df1.loc[df1['Country'] == 'Russian Federation', 'Country'] = 'Russia'
df1.loc[df1['Country'] == 'Slovak Republic', 'Country'] = 'Slovakia'
df1.loc[df1['Country'] == 'Taiwan, China', 'Country'] = 'Taiwan'
df1.loc[df1['Country'] == 'Turkiye', 'Country'] = 'Turkey'
df1.loc[df1['Country'] == 'Venezuela, RB', 'Country'] = 'Venezuela'
df1.loc[df1['Country'] == 'Yemen, Rep.', 'Country'] = 'Yemen'

In [9]:
# Nama nama negara yang tidak terdapat datanya/tidak ada data tahun 2018 dan 2019 pada tabel 2
country = ''
for index, row in df2.iterrows():
    if df1[df1['Country'] == row['Entity']].empty:
        if (country != row['Entity']):
            print(row['Entity'])
            country = row['Entity']

Afghanistan
Andorra
Antigua and Barbuda
Bahamas
Belarus
Belize
Bhutan
Central African Republic
Comoros
Congo
Cote d'Ivoire
Cuba
Democratic Republic of Congo
Djibouti
Dominica
Equatorial Guinea
Eritrea
Eswatini
Fiji
Grenada
Guinea-Bissau
Guyana
Hong Kong
Iraq
Kiribati
Libya
Liechtenstein
Macao
Maldives
Marshall Islands
Micronesia (country)
Myanmar
Niger
Palau
Palestine
Papua New Guinea
Reunion
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
Sao Tome and Principe
Solomon Islands
Somalia
South Sudan
Sudan
Suriname
Syria
Timor
Togo
Tonga
Turkmenistan
Uzbekistan
Vanuatu

In [12]:
# Memasukkan data dari tabel 2 ke tabel 1
final_csv = df2.copy()
for index, row in df1.iterrows():
    code_country = final_csv[final_csv['Entity'] == row['Country']].iloc[1,1]
    data_line = {"Entity": [row['Country'], row['Country']], 
                 "Code": [code_country, code_country],
                 'Year':[2018, 2019], 
                 'AVG': [row['2018'],row['2019']]
                }
    line = pd.DataFrame(data_line)
    final_csv = pd.concat([final_csv, line]).reset_index(drop=True)

In [13]:
final_csv = final_csv.sort_values(by=["Entity", "Year"], ignore_index=True)

final_csv.to_csv('mean-years-of-schooling.csv',index=False)