In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv("Presentase pengangguran diindonesia.csv")

In [3]:
df.head()

,tahun,Rata rata lama sekolah (Tahun),Presentase pengangguran (%),Presentase bekerja(%)
0,2013,7.61,6.025,93.975
1,2014,7.73,5.820,94.180
2,2015,7.84,5.995,94.005
3,2016,7.95,5.555,94.445
4,2017,8.10,5.415,94.585

In [4]:
new_df1 = df[['tahun','Rata rata lama sekolah (Tahun)']]
new_df1 = new_df1.rename(columns={'Rata rata lama sekolah (Tahun)': 'value'})
new_df1 = new_df1.assign(label = 'Rata rata lama sekolah (Tahun)')
# new_df['newCol'] = df.apply(lambda x: 10, axis=1)
new_df2 = df[['tahun','Presentase pengangguran (%)']]
new_df2 = new_df2.rename(columns={'Presentase pengangguran (%)': 'value'})
new_df2 = new_df2.assign(label = 'Presentase pengangguran (%)')

In [5]:
new_df = pd.concat([new_df1, new_df2])
new_df

   tahun  value                           label
0   2013  7.610  Rata rata lama sekolah (Tahun)
1   2014  7.730  Rata rata lama sekolah (Tahun)
2   2015  7.840  Rata rata lama sekolah (Tahun)
3   2016  7.950  Rata rata lama sekolah (Tahun)
4   2017  8.100  Rata rata lama sekolah (Tahun)
5   2018  8.170  Rata rata lama sekolah (Tahun)
6   2019  8.340  Rata rata lama sekolah (Tahun)
7   2020  8.480  Rata rata lama sekolah (Tahun)
8   2021  8.540  Rata rata lama sekolah (Tahun)
0   2013  6.025     Presentase pengangguran (%)
1   2014  5.820     Presentase pengangguran (%)
2   2015  5.995     Presentase pengangguran (%)
3   2016  5.555     Presentase pengangguran (%)
4   2017  5.415     Presentase pengangguran (%)
5   2018  5.200     Presentase pengangguran (%)
6   2019  5.105     Presentase pengangguran (%)
7   2020  6.005     Presentase pengangguran (%)
8   2021  6.375     Presentase pengangguran (%)

In [6]:
from datetime import datetime

In [7]:
# date = datetime(year=new_df['tahun'][0:4])
new_df['dates'] = pd.to_datetime(new_df['tahun'], format='%Y')
new_df

   tahun  value                           label      dates
0   2013  7.610  Rata rata lama sekolah (Tahun) 2013-01-01
1   2014  7.730  Rata rata lama sekolah (Tahun) 2014-01-01
2   2015  7.840  Rata rata lama sekolah (Tahun) 2015-01-01
3   2016  7.950  Rata rata lama sekolah (Tahun) 2016-01-01
4   2017  8.100  Rata rata lama sekolah (Tahun) 2017-01-01
5   2018  8.170  Rata rata lama sekolah (Tahun) 2018-01-01
6   2019  8.340  Rata rata lama sekolah (Tahun) 2019-01-01
7   2020  8.480  Rata rata lama sekolah (Tahun) 2020-01-01
8   2021  8.540  Rata rata lama sekolah (Tahun) 2021-01-01
0   2013  6.025     Presentase pengangguran (%) 2013-01-01
1   2014  5.820     Presentase pengangguran (%) 2014-01-01
2   2015  5.995     Presentase pengangguran (%) 2015-01-01
3   2016  5.555     Presentase pengangguran (%) 2016-01-01
4   2017  5.415     Presentase pengangguran (%) 2017-01-01
5   2018  5.200     Presentase pengangguran (%) 2018-01-01
6   2019  5.105     Presentase pengangguran (%) 2019-01-01
7   2020  6.005     Presentase pengangguran (%) 2020-01-01
8   2021  6.375     Presentase pengangguran (%) 2021-01-01

In [8]:
alt.Chart(new_df).mark_line(point = True).encode(
    x = alt.X("dates", title="Year"),
    y="value",
    color='label',
)

alt.Chart(...)

In [10]:

# alt.Chart(source).mark_line(point = True).encode(
#     x = alt.X("date:O", timeUnit="yearmonth", title="date"),
#     y="rank:O",
#     color=alt.Color("symbol:N")
# ).transform_window(
#     rank="rank()",
#     sort=[alt.SortField("price", order="descending")],
#     groupby=["date"]
# ).properties(
#     title="Bump Chart for Stock Prices",
#     width=600,
#     height=150,
# )

In [11]:
df2 = pd.read_csv("mean-years-of-schooling.csv")
df2.head()

        Entity Code  Year   AVG
0  Afghanistan  AFG  1870  0.01
1  Afghanistan  AFG  1875  0.01
2  Afghanistan  AFG  1880  0.01
3  Afghanistan  AFG  1885  0.01
4  Afghanistan  AFG  1890  0.01

In [15]:
df2_top = df2[df2['Year'] == 2019]
df2_top = df2_top.sort_values(by=["AVG"], ignore_index=True, ascending=False)
df2_top.head(10)

          Entity Code  Year    AVG
0        Germany  DEU  2019  14.13
1    Switzerland  CHE  2019  13.85
2         Canada  CAN  2019  13.80
3        Estonia  EST  2019  13.66
4       Slovakia  SVK  2019  13.64
5     Luxembourg  LUX  2019  13.53
6  United States  USA  2019  13.41
7    New Zealand  NZL  2019  13.34
8         Latvia  LVA  2019  13.23
9      Lithuania  LTU  2019  13.22

In [ ]:
df2_top[df]

In [18]:
final_top = pd.DataFrame()
for index, row in df2_top.iterrows():
    dataframe = df2[df2['Entity'] == row['Entity']]
    final_top = pd.concat([final_top, dataframe]).reset_index(drop=True)
    if(index == 4):
        break

dataframe = df2[df2['Entity'] == 'Indonesia']        
final_top = pd.concat([final_top, dataframe]).reset_index(drop=True)
final_top

        Entity Code  Year   AVG
0      Germany  DEU  1870  1.95
1      Germany  DEU  1875  2.16
2      Germany  DEU  1880  2.37
3      Germany  DEU  1885  2.61
4      Germany  DEU  1890  2.84
..         ...  ...   ...   ...
287  Indonesia  IDN  2015  7.90
288  Indonesia  IDN  2016  8.00
289  Indonesia  IDN  2017  8.00
290  Indonesia  IDN  2018  7.91
291  Indonesia  IDN  2019  7.98

[292 rows x 4 columns]

In [19]:
chart = alt.Chart(final_top).mark_line(point = True).encode(
    x = alt.X("Year", title="Year"),
    y="AVG",
    color='Entity',
).properties(
    title="Persentase perbandingan rata-rata lama sekolah indonesia dengan negara lain"
)
chart

alt.Chart(...)